body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    height: 100%;
  }

*:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
main {
    margin: 0;
    
}

a {
    text-decoration: none;
    color: #2a5885;
}


ol,
ul {
    list-style: none;
}

.miniature {
    border-radius: 50%;
}

.blue-button {
    padding: 7px 16px 8px;
    margin: 0;
    cursor: pointer;
    text-align: center;
    background: 0 0;
    background-color: #5181b8;
    border: 0;
    border-radius: 4px;
    color: #ffffff;
}

.header {
    width: 100%;
    height: 50px;
    margin: 0;
    background-color: #ffffff;
    position: fixed;
    border-bottom: #dfe3e8 1px solid;
    display: flex;
    align-items: center;
     
}

.header_container {
    margin: 0 auto;
    max-width: 990px;
    width: 100%;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;

}

.logo_name {
    font-weight: 500;
    text-transform: lowercase;
    font-size: 19px;
    margin-left: 6px;
   
}

#search {
    width: 200px;
    height: 32px;
    border: none;
    border-radius: 8px;
    background-color: #edeef0;
    background-image: url(./assets/loupe.svg);
    background-repeat: no-repeat;
    background-position: 5% 50%;
    font-size: 14px;
    padding-left: 35px;
    margin-right: 45%;
}

.dropdown_menu {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}



.top-profile-link {
    display: flex;
    align-items: center;
    width: 110px;
    padding-left: 9px;
}

.top-profile-link:hover,
.profile-link:hover,
.dropdown-item:hover {
    background-color: #edeef0;
    transition: linear 100ms;
}


.user_name {
    font-weight: 500;
}

.avatar_mini {
    width: 35px;
    border-radius: 50%;
    margin: 10%;
}

.avatar_mini.profile {
    margin:  0 9px 0 0;
}

.dropdown-content {
    position: absolute; 
    padding: 4px 0;
    background-color: #ffffff;
    border:  #dfe3e8 1px solid;
    border-radius: 4px;
    box-shadow: 0 1px 3px var(--black_alpha8);
    top: 54px;
    min-width: 206px;
    max-width: 230px;
    width: auto;
    left: -87px;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    z-index: 1000;
}

.dropdown_menu:hover .dropdown-content {
    visibility: visible;
    
}

.profile-link {
    font-size: 13px;
    display: flex;
    align-items: center;
    padding: 8px 15px 8px;
}

.dropdown-sep {
    margin: 4px 13px;
    border-top: 1px solid #dae2ea;
    cursor: none;

}

.dropdown-item {
    font-size: 13px;
    color: #2a5885;
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
}

/* MAIN */
main {
    background-color:#edeef0;
  
}
.container {
   margin: 0 auto;
   max-width: 990px;
   width: 100%;
   display: flex;
   min-height: 100vh;
   
}

.sidebar_ol {
    margin: 0 16px 10px -6px;
    padding: 0;
}

.sidebar {
    width: 164px;
    margin-top: 50px;
    padding: 15px 0 10px;
}

.nav-item {
    border-radius: 4px;
    padding: 0 6px;
    width: 151px;
    height: 30px;
    display: flex;
    align-items: center;
}
.nav-item a {
    color: black;
    display: flex;
    align-items: center;
}

.nav-item_icon {
    margin-right: 10px;
}

.nav-item:hover {
    background-color: #5f89b925;
    transition: linear 100ms;
    cursor: pointer;
}

.page-body {
    width: 100%;
  
    margin-top: 50px;
    display: flex;
  
}

.page-block {
    margin: 15px 0 0;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d3d9de, 0 0 0 1px #e7e8ec;
}

.page-block.photo {
    padding: 15px;
}

.page-photo {
    border-radius: 4px;
}

.column-wrap {
    width: 230px;
    margin-right: 15px;
}

.edit_button {
    margin-top: 10px;
    width: 100%;
}

.edit_button_link {
    color: #55677d;
    background-color: #e5ebf1;
    padding: 7px 16px 8px;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    border: none;
    width: 200px;
}

.block-name {
    padding: 0 15px;
    height: 32px;
    text-align: center;
    display: flex;
    align-items: center;
}


.online {
    border-top: 1px solid  #edeef0;
}

.friends-list {
    display: flex;
    padding: 6px 10px 8px;
    align-items: center;
    margin: 0;
 
}

.friends_count {
    padding: 0 6px;
    color: #939393;
}

.friend_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    font-size: 12.5px;
    color: #2a5885;
    cursor: pointer;
}

.friend_card:hover {
    text-decoration: underline;
}

.avatar_friend {
    width: 50px;
    border-radius: 50%;
    padding-bottom: 7px;
    
}



.column-right {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.page-block.info {
    
    height: 220px;
    padding: 15px 20px;
    
}


/*Page top */
.page-top {
    border-bottom: 1px solid #e7e8ec;
    padding: 0 0 15px;
}

.page-top_name {
    display: flex;
    justify-content: space-between;
   
}

.page-name {
    font-size: 19px;
    line-height: 25px;
    font-weight: 400;
    overflow: hidden;
}

.profile-online {
    font-size: 12.5px;
    line-height: 18px;
    color: #939393;
}


.status {
    display: block;
    cursor: pointer;
    margin: -2px -6px -4px;
    padding: 4px 6px 4px;
    line-height: 16px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.status:hover {
    background-color: #f1f2f6;
    border-radius: 3px;
}

.status:hover .status-editor {
    display: block;
    
}

.status-message {
    color: #939393;
    font-size: 12px;
    letter-spacing: 0.04em;
}


.status-editor {
    display: none;
    position: absolute;
    max-width: 530px;
    width: 100%;
    border: 1px solid #d3d9de;
    border-radius: 2px;
    background-color: #fafbfc;
    box-shadow: 0 1px 3px #00000000;
    padding: 15px;
}

.status-input {
    padding: 5px 24px 6px 9px;
    margin: 0 0 10px;
    background-color: #ffffff;
    border: 1px solid #d3d9de;
    border-radius: 3px;
}

.status-music {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

#status-checkbox {
    margin: 0 7px 0 0;
    width: 15px;
    height: 15px;
}

.status-save {
    margin-top: 5px;
    padding: 7px 16px 8px;
    cursor: pointer;
    text-align: center;
    background: 0 0;
    background-color: #5181b8;
    border: 0;
    border-radius: 4px;
    font-size: 12.5px;
    color: #ffffff;
}

/*Profile info*/

.profile-info {
    padding-top: 10px;
    border-bottom: 1px solid #e7e8ec;
    padding-bottom: 15px;
}

.profile-info_row {
    display: flex;
    padding-top: 8px;
    letter-spacing: 0.03em;
    font-size: 12px;
}

.label-left {
    width: 160px;
    color: #828282;
    
}

.label-right {
    cursor: pointer;
    
}

.label-right:hover {
    text-decoration: underline;
}

/* Counts module */

.counts-module {
    text-align: center;
    max-height: 69px;
    overflow: hidden;
}

.page_counter {
    padding: 15px;
    cursor: pointer;
    display: inline-block;
}

.page_counter:hover .label {
    color: #2a5885;
}

.count {
    padding-bottom: 3px;
    font-size: 19px;
    color: #2a5885;
    line-height: 21px;
}

.label {
    line-height: 15px;
    color: #828282;
}



/*Photos*/

.page-block.photos {
    
    padding: 15px 20px;

}

.photos-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}


.my-photos_link {
    color: black;
}

.photos-amount {
    color: #939393;
    padding: 0 6px;
}

.map-photos_link {
    color: #939393;
}

.map-photos_link:hover {
    text-decoration: underline;
}


.photos-module {
    padding-top: 13px;
    display: flex;
    
}

.photo-module {
    width: 123px;
    height: 123px;
    overflow: hidden;
    object-fit: cover;
    margin-left: 6px;
}



/*New post*/

.page-block.post {
    border-radius: 4px;
}

.new-post {
    position: relative;
    width: 100%;
}


.submit-post {
    display: none;
    background: #fafbfc;
    border-top: 1px solid #e7e8ec;
    padding: 13px 20px 12px;
    border-radius: 0 0 4px 4px;
    
}

.save-button {
    display: flex;
    flex-direction: row-reverse;
}

.new-post:hover .submit-post {
    display: block;
    
}

.post-field_image {
    width: 28px;
    height: 28px;
    transform-style: preserve-3d;
    transition: transform .3s ease;
    backface-visibility: hidden;
    position: absolute;
    top: 12px;
    left: 20px;
    border-radius: 50%;
}

textarea::placeholder {
    color: #939393;
}

textarea {
    resize: none;
    border: none;
    padding: 16px 20px 16px 12px;
    margin-left: 48px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
   
}
.post-field {
    padding: 16px 20px 16px 12px;
    margin-left: 48px;
    border: none;
    font-size: 12.5px;
    width: 100%;
    resize: none;
   
}



/*WALL */

.page-block.wall {
    margin-bottom: 15px;
}

.wall_header {
    display: flex;
    justify-content: space-between;
}

.wall_header_list {
    display: flex;
    border-bottom: 1px solid #e7e8ec;
    padding: 0 10px;
    margin: 0;
}

.wall_header_item {
    color: #656565;
    
    padding: 16px 6px 15px;
    margin: 0 4px -1px;
}

.active {
    color: black;
    border-bottom: 2px solid #5181b8;
}

.wall_header_item:hover {
    border-bottom: 2px solid #5181b88a;
    padding-bottom: 13px;
    transition: linear .2s;
}

.search_post {
    padding: 17px 6px 14px;
    margin: 0 4px -1px;
    cursor: pointer;
}

.post-header {
    padding: 15px 20px 0;
    position: relative;
    min-height: 50px;
}

.post-header-info {
    margin-left: 65px;
    padding-top: 8px;
}


.post-avatar {
    width: 50px;
    border-radius: 50%;
    float: left;
    display: block;
}

.post-author {
    font-weight: 500;
    font-size: 13px;
    padding-bottom: 3px;
}

.post-date-link {
    color: #939393;
    font-size: 12.5px;
}

.wall-text {
    padding: 8px 20px 20px;
}

.wall-quote {
    padding-top: 3px;
}

.wall-photo {
    padding: 10px 0 4px;
}

.wall-photo-style {
    width: 90%;
    overflow: hidden;
    object-fit: cover;
}

.like-wrap {
    padding: 0 20px;
}

.like-cont {
    border-top: 1px solid #e7e8ec;
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.like-btns,
.views {
    display: flex;
    align-items: center;
}

.likes_amount {
    font-weight: 500;
    margin-left: 6px;
    font-size: 15px;
    line-height: 16px;
    height: 16px;
    overflow: hidden;
    color: #626d7a;
    white-space: nowrap;
    padding: 0 3px;
}

.comment-button,
.repost-button {
    margin-left: 21px;
    padding: 0 3px;
    
}


.views p{
    margin-left: 6px;
    height: 14px;
    line-height: 15px;
    color: #818c99;
    overflow: hidden;
    white-space: nowrap;
}


/*MESSENGER*/

ul {
    margin: 0;
    padding: 0;
}

.sidebar.msngr {
    position: sticky;
}

.msg-content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.msg-dialogs {
    min-height: 354px;
    height: auto;
    margin-top: 15px;
    width: 550px;
}

.dialogs-header {
    position: fixed;
    width: 100%;
    max-width: 550px;
    background: #ffffff;
    border-radius: 3px 3px 0 0;
    left: auto;
    margin-left: -1px;
    border-left: solid 1px #edeef0;
    border-right: solid 1px #edeef0;
    display: flex;
    border-bottom: 1px solid #e7e8ec;
}

.search-dialog {
    padding: 15px 10px 15px 35px;
    border: none;
    background: url("./assets/loupe.svg");
    background-repeat: no-repeat;
    background-position: 2% 50%;
    flex-grow: 1;
    
}


.dialogs-content {
    background: #fff;
    margin-bottom: 15px;
    border-radius: 4px;
    padding-top: 48px;
}

.dialog {
    padding-left: 20px;
    height: 71px;
    cursor: pointer;
    display: flex;
}

.dialog:hover {
    background-color: #f3f5f7;
}

.dialog-content {
    padding: 10px 15px 0px 0px;
    width: 100%;
    border-bottom: 1px solid #e7e8ec;
}

.dialog-photo {
    padding: 11px 14px 8px 0;
}

.dialog-img {
    width: 50px;
    border-radius: 50%;
}

.dialog-name {
    display: flex;
    justify-content: space-between;
}

.dialog-name h5{
    font-size: 12.5px;
    font-weight: 500;
    letter-spacing: 0.015em;
    margin-top: 3px;
    margin-bottom: 10px;
}

.dialog-name .msg-time {
    color: #65656594;
}

.text-preview {
    display: flex;
    color: #656565;
    line-height: 16px;
    align-items: center;
}

.small-img {
    margin-right: 7px;
}


.msg-menu {
    height: 100px;
    margin-bottom: 15px;
    max-width: 230px;
    width: 100%;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d3d9de, 0 0 0 1px #e7e8ec;
    margin: 15px 0 0;
    z-index: 1;
}

.msg-menu-list {
    padding: 6px 0;
}

.msg-menu-list li {
    padding: 0 5px 0 20px;
    color:#2a5885;
    line-height: 31px;
    cursor: pointer;
    font-size: 12.5px;
    letter-spacing: 0.015em;
    
}

.msg-menu-list li:hover {
    background-color: #f0f2f5;
}

.msg-menu-item.selected {
    padding-left: 18px;
    border-left: 2px solid #5181b8;
    background-color: #f0f2f5;
    color: #000000;
    font-weight: 500;
}

.dialogs-footer {
    width: 550px;
    max-width: 550px;
    box-sizing: border-box;
    position: fixed;
    font-size: 12.5px;
    z-index: 102;
    background: #fff;
    padding: 16px 20px;
    border: solid 1px #e7e8ec;
    vertical-align: bottom;
    color: #2a5885;
    bottom: 0;
}

.dialogs-footer_text:hover {
    text-decoration: underline;
}